<div class="d-flex justify-content-between align-items-center bg-light p-2 rounded-bottom border">
  <h2><%= link_to 'Wikinimous', articles_path, { class: "text-dark text-decoration-none" } %></h2>
  <%= link_to 'New Article', new_article_path, { class: "btn btn-primary" } %>
</div>

<div class="container w-50 mt-5">
  <% @articles.each do |article| %>
    <h2><%= link_to article.title, article_path(article.id) %></h2>
    <p><%= article.content.truncate_words(5) %></p>
  <% end %>
</div>
