<div class="container m-5">
  <h1>Create a new article</h1>
  <%= form_for @article, { class: "form-group" } do |f| %>
  Title: <%= f.text_field :title, { class: "form-control" } %><br />
  Content : <%= f.text_area :content, { class: "form-control" } %><br />
  <%= f.submit %>
<% end %>
</div>
